:root {
    --main: #4d648d;
    --alpha: #d0e1f9;
    --beta: #ffffff;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    background-color: var(--main);
    color: var(--beta);
}

nav {
    position: fixed;
}

nav a {
    margin: 10px;
    font-family: 'Bebas Neue', cursive;
    color: var(--beta);
    padding: 10px, 0, 0, 0;
    text-decoration: none;

}

#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#Welcome {
    padding-top: 20px;
    padding-bottom: 20px;
    align-content: center;
    text-align: center;
    background-color: var(--alpha);
    color: black;
}

hr {
    padding: 0;
    margin: 0;
}

#Language {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: var(--beta);
    text-align: center;
    text-transform: capitalize;
}

#modals {
    padding: 0px;
    display: flex;
    align-items: flex-start;
    flex-direction:row;
    justify-content: center;
}

input {
    height: auto;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 3s;
}
.card:hover{
    transform: scale(1.2);
}



#About {
    background-color: hsl(218, 29%, 43%);
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100px;
    color: hsl(215, 77%, 90%);
}

.Glyph {
    width: 6%;
    cursor: pointer;
    transition: transform .2;
}
.Glyph:hover{
    transform: scale(1.2);
}


@media (max-width:600px) {

    #About h3,
    li {
        padding-bottom: 0px;
        margin-bottom: 0px;

    }

    .Glyph {
        padding-top: 0px;
        width: 36px;
        height: 35px;
    }

    .navbar-brand {
        width: 25%;
        transform: scale(1, 1.65);

    }
}